<!DOCTYPE html>
<html>
<head>
    <title><%= page %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/landing-page.min.css' />
    <!-- Custom fonts for this template -->
    <link href="/stylesheets/vendor/fontawesome-free/css/all.css" rel="stylesheet">
    <link href="/stylesheets/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>


</head>
<header>
    <% include ./partials/header %>
</header>
<body>
<div class="align-content-md-start">
    <p><%= dateInStr %></p>
</div>
<div class="row">
    <div class="col-xl-9 mx-auto">
        <h2 class="mb-5">Update Menu names:</h2>
    </div>
    <form class="d-flex flex-row justify-content-center" method="post">
        <div class="row">
            <div class="col m-1">
                <select class="m-1 flex-grow-1 " id="menu" name="oldmenu">
                    <option value=""> Select Menu to Update </option>
                    <% for (var i = 0; i < menu.length; i++) { %>
                    <option value="<%= menu[i].name %>"><%= menu[i].name %> </option>
                    <% } %>
                </select>
            </div>
            <div class="col m-1">
                <input class="form-control flex-grow-1 m-1" type="text" placeholder="Type in menu name..." name="newmenu">
            </div>
        </div>
        <div class="row m-1">
            <button class="btn btn-primary m-1" formaction="/update/menu" type="submit">Submit</button>
            <button class="btn btn-danger m-1" formaction="/delete/menu" type="submit">Delete</button>
        </div>
    </form>
</div>
</body>
<footer>
    <%- include ./partials/footer.ejs %>
</footer>
</html>
