<!DOCTYPE html>
<html>
<head>
    <title><%= page %> </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
</head>
<header>
    <% include ./partials/header %>
</header>
<body>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Branch Location</th>
        <th scope="col">Reservation Time</th>
        <th scope="col">No of People</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><%= rname%></td>
        <td><%= reservationTime%></td>
        <td><%= paxNo %></td>
    </tr>
    </tbody>
</table>
<div>
    <form action = "/booking/confirmation">
        <input type="rname" value = <%=rname%>>
        <input type="reservationTime" value = <%=reservationTime%>>
        <input type="paxNo" value = <%=paxNo%>>
        <div class="col-12 col-md-3">
            <button type="submit" class="btn btn-block btn-lg btn-primary">Confirm Reservation</button>
        </div>
    </form>
</div>
</body>
</html>

<!--<div class="form-row">-->
    <!--<div class="col-12 col-md-9 mb-2 mb-md-0">-->
        <!--<input type="rname" class="form-control form-control-lg" placeholder="Any Restaurant" name="rname">-->
    <!--</div>-->
    <!--<div class="col-12 col-md-9 mb-2 mb-md-0">-->
        <!--<input type="location" class="form-control form-control-lg" placeholder="Any Location" name="location">-->
    <!--</div>-->
    <!--<div class="col-12 col-md-9 mb-2 mb-md-0">-->
        <!--<input type="cuisineType" class="form-control form-control-lg" placeholder="Any Cuisine" name="cuisineType">-->
    <!--</div>-->
    <!--<div class="col-12 col-md-9 mb-2 mb-md-0">-->
        <!--<input type="paxNo" class="form-control form-control-lg" placeholder="Any Pax" name="paxNo">-->
    <!--</div>-->
    <!--<div class="col-12 col-md-9 mb-2 mb-md-0">-->
        <!--<input type="reservationTime" class="form-control form-control-lg" placeholder="Any Time" name="reservationTime">-->
    <!--</div>-->
    <!--<div class="col-12 col-md-3">-->
        <!--<button type="submit" class="btn btn-block btn-lg btn-primary">Search!</button>-->
    <!--</div>-->