<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/landing-page.min.css' />
    <!-- Custom fonts for this template -->
    <link href="stylesheet/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="stylesheet/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>


</head>
<header>
    <% include ./partials/header %>
</header>
<body>
<div class="align-content-md-start">
<p><%= date %></p>
</div>

<h1><%= title %></h1>
<!-- Masthead -->
<header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5">Looking for Food Nearby?</h1>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <form action="/search/restaurants">
                    <div class="form-row">
                        <div class="col-12 col-md-9 mb-2 mb-md-0">
                            <input list="restaurants"  name="rname" placeholder="Any Restaurant" size="55">
                            <datalist id="restaurants">
                                <option value="Macdonalds">
                                <option value="pussy cat dolls">
                            </datalist>
                            <!-- <input type="text" class="form-control form-control-lg" placeholder="Any Restaurant" name="rname" maxlength=40> -->
                        </div>
                        <div class="col-12 col-md-9 mb-2 mb-md-0">
                            <input list="locations" name="location" placeholder="Any Location" size="55">
                            <datalist id="locations">
                                <option value="Vivo City">
                                <option value="Centre Point">
                            </datalist>
                            <!-- //  <input type="text" class="form-control form-control-lg" placeholder="Any Location" name="location" maxlength=40> -->
                        </div>
                        <div class="col-12 col-md-9 mb-2 mb-md-0">
                            <input list="cuisines" name="cuisineType" placeholder="Any Cuisine" size="55">
                            <datalist id="cuisines">
                                <option value="Western">
                                <option value="Chinese">
                                <option value="Italian">
                            </datalist>
                            <!-- <input type="cuisineType" class="form-control form-control-lg" placeholder="Any Cuisine" name="cuisineType"> -->
                        </div>
                        <div class="col-12 col-md-9 mb-2 mb-md-0">
                            <input list="paxNo" name="paxNo" placeholder="No. of Diners" size="55">
                            <datalist id="paxNo">
                                <option value="1">
                                <option value="2">
                                <option value="3">
                            </datalist>
                            <!--<input type="paxNo" class="form-control form-control-lg" placeholder="Any Pax" name="paxNo">-->
                        </div>
                        <div class="col-12 col-md-9 mb-2 mb-md-0">
                            <input type="time" min="08:00" max="22:00" step="900" class="form-control form-control-lg" placeholder="Any Time" name="reservationTime" required>
                        </div>
                        <div class="col-12 col-md-3">
                            <button type="submit" class="btn btn-block btn-lg btn-primary">Search!</button>
                        </div>
                        <div class="col-12 col-md-3">
                            <button type="reset" class="btn btn-block btn-primary">Reset Choices</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>

<!--<div id="content-wrapper">-->
<!--<h2>Or take a look at the list of available Restaurants Here</h2>-->
        <!--<table class="table">-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th scope="col">Restaurant</th>-->
                <!--<th scope="col">Location</th>-->
                <!--<th scope="col">Status</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<% for(var i=0; i<data.length; i++) { %>-->
            <!--<tr>-->
                <!--<td><%= data[i].rname%></td>-->
                <!--<td><%= data[i].location%></td>-->
                <!--<td><%= data[i].status%></td>-->
            <!--</tr>-->
            <!--<% } %>-->
            <!--</tbody>-->
        <!--</table>-->
<!--</div>-->
</body>
</html>
