<!DOCTYPE html>
<html>
<head>
    <title><%= page %> - <%= rname %></title>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
</head>
<header>
    <% include ./partials/header %>
</header>
<body>
<div class="align-content-md-start">
    <p><%= date %></p>
</div>
<% if (count === 0) { %>
<h2>No restaurant with <%= rname %> found!</h2>
<% } else { %>
<h1><%= data[0].rname %></h1>
<% } %>
<div class="container-fluid justify-content-center m-auto">
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Branch Location</th>
            <th scope="col">Opening Hours</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        <% for(var i=0; i<data.length; i++) { %>
        <tr>
            <td><%= data[i].location%></td>
            <td><%= data[i].openinghours%></td>
            <td><%= data[i].status%></td>
        </tr>
        <% } %>
        </tbody>
    </table>
</div>
<h2> Menu for <%= rname %> </h2>
<table class="table table-bordered">
    <thead class="thead-light">
    <tr>
        <th scope="col">Menu Name</th>
        <th scope="col">Menu Item</th>
        <th scope="col">Price</th>
    </tr>
    </thead>
    <tbody>
    <% for(var i=0; i<menuCount; i++) {
      var flag = true;
      for(var j=0; j<menu[i].length; j++) { %>
    <tr>
        <% if(flag) { %>
        <td rowspan="<%= menu[i].length%>" class="align-middle"><%= menu[i][j].menuname%></td>
        <% flag = false; %>
        <% } %>
        <td><%= menu[i][j].foodname %></td>
        <td><%= menu[i][j].price %></td>
    </tr>
    <% }} %>
    </tbody>
</table>
</body>
</html>