<!DOCTYPE html>
<html>
<head>
    <title><%= page %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <script src='/stylesheets/vendor/jquery/jquery.js'></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
</head>
<header>
    <% include ./partials/header %>
</header>
<body>
<% if (ctx === 0) { %>
<h2>No restaurant found!</h2>
<% } else { %>
<h2><%= ctx %> Results found!</h2>
<% } %>
<form type="hidden" method="get" action="/booking">
    <input type="hidden" id="pax" name="pax" value="<%=pax%>">
    <% if (typeof cuisineType === "undefined") { %>
    <input type="hidden" id="cusine_type" name="cuisinetype" value="ANY">
    <% } else { %>
    <input type="hidden" id="cusine_type" name="cuisinetype" value="<%= cuisineType%>">
    <% } %>
    <input type="hidden" id="time" name="time" value="<%= time %>">
    <input type="hidden" id="rname" name="rname">
</form>
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Restaurant</th>
        <th scope="col">Opening Hours</th>
        <th scope="col">Location</th>
    </tr>
    </thead>
    <tbody>
    <% for(var i=0; i<table.length; i++) { %>
    <tr>
        <td><%= table[i].rname%></td>
        <td><%= table[i].openinghours%></td>
        <td><%= table[i].location%></td>
    </tr>
    <% } %>
    </tbody>
</table>
<script>
  $("td").click(function(){
    let rnameElement = $(this).parent().children().get(0)
    let rname = $(rnameElement).text()
    $('input#rname').val(rname)
    if($('input#rname').val() != '') {
      console.log("rname", $('input#rname').val())
      console.log("time", $('input#time').val())
      console.log("paxNo", $('input#pax').val())
      console.log("cuisineType", $('input#cusine_type').val())
      $('form').submit();
    }
  })
</script>
</body>
</html>